<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <h3>Secciones</h3>

      <mat-nav-list>
       <a routerLink="/dashboard/home" mat-list-item>INICIO</a>
       <a routerLink="/dashboard/users" mat-list-item>ALUMNOS</a>
       <a routerLink="/dashboard/courses" mat-list-item>CURSOS</a>
       <a routerLink="/dashboard/enrollment" mat-list-item>INSCRIPCIONES</a>
       <a (click)="logOut()" mat-list-item>CERRAR SESION</a>
      </mat-nav-list>
    
    </mat-drawer>
  
    <div class="example-sidenav-content">
        <mat-toolbar>
            <div class="d-flex justify-content-between align-items-center h-100 w-100">
              <div>
                <button (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                  <mat-icon>menu</mat-icon>
                </button>
                <span>Menú</span>
              </div>
              <div *ngIf="authUser$ | async; let authUser">
                <p>{{authUser.firstName}} {{authUser.lastName}}</p>
                </div>
            </div>
          </mat-toolbar>

          <!-- aca debe ir el router -->
           <router-outlet></router-outlet>
          <!-- <app-users /> -->
    </div>
  
  </mat-drawer-container>