<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <h3>Secciones</h3>

    <mat-nav-list>
     <a routerLink="/dashboard" mat-list-item>INICIO</a>
     <a routerLink="/dashboard/users" mat-list-item>ALUMNOS</a>
     <a routerLink="/dashboard/courses" mat-list-item>CURSOS</a>
     <a routerLink="/auth/login" mat-list-item>CERRAR SESION</a>
    </mat-nav-list>
  
  </mat-drawer>

  <div class="example-sidenav-content">
      <mat-toolbar>
          <button (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
          </button>
          <span>Menú</span>
        </mat-toolbar>
        
        <div
  style="
    background-color: darkgray;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  "
>
  <mat-card>
    <mat-card-content>
      <router-outlet></router-outlet>
    </mat-card-content>
  </mat-card>
</div>


        <!-- aca debe ir el router -->
         <!-- <router-outlet></router-outlet> -->
        <!-- <app-users /> -->
  </div>

</mat-drawer-container>